@font-face {
    font-family:neue;
    src: url(../assets/fonts/NeueHaasDisplay-Mediu.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue";

}

*::selection{display: none;}
html,body{
    width:100%;
    height: 100%;
    background: #efeae3;
    /* background: #000; */
    
}

a{
    text-decoration: none;
    color: black;
}


#main{
    height: 100vh;
    width: 100%;
    z-index: 99;background: #efeae3;
}


#loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    top :0;
    left:0;

    background: #000;
    z-index: 99;
    animation: moveOut 0.7s linear 1.5s forwards;
    
}


#loader  h1{
    font-size: 5vw;
    color: aliceblue;
    
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    /* -webkit-text-stroke-color: rgb(255, 153, 0);
    -webkit-text-stroke-width: 2px; */
    /* color:linear-gradient(200deg, var(#fe330a), var(#ff9831)); */
    /* opacity: 0; */
    opacity: 0;
    animation: loader 0.5s linear 0s 1 ;

}



#loader h1:nth-child(1) {
    animation-delay: 0s; /* No delay for the first element */
}

#loader h1:nth-child(2) {
    animation-delay: 0.5s; /* Delay for the second element */
}

#loader h1:nth-child(3) {
    animation-delay: 1s; 
}



@keyframes loader {
    0%{
       
            opacity:0;
        }
    

    100%{
            opacity:1;
        }
    }
    


    @keyframes moveOut {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }